table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #1fd45b;
  }

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: #4b2716;
  }
  
  
  tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }


  .note {
    font-size: 120%;
    color: red;}
    